{% extends 'core/base.html' %}

{% block content %}

	<h1>Department List</h1>
	<a class='add-dept' href="{% url 'createMode:create-departent' %}">
		Add new department
	</a>
	<table>
		<tr>
			<th>Department Name</th>
			<th>Description</th>
			<th>Manager</th>
			<th>No. of employees</th>
		</tr>
			{% for department in department %}
				<tr>
			    	<td> <a href="#">
			    		{{ department.name}}
			    	</a></td>
			    	<td> {{ department.description }}</td>
			    	<td> Manager Name</td>
			    	<td> 
			    		{% for dept in department_count  %}
							{% if dept.department_name == department.name %}
								{{ dept.count }}
							{% endif %}
					{% endfor %}
			    	</td>
			    </tr>
			{% endfor %}
	</table>	



{% endblock %}

