{% extends 'core/base.html' %}

{% block content %}

	<h1>User List</h1>
	<table>
		<tr>
			<th>username</th>
			<th>Full Name</th>
			<th>Age</th>
			<th>Address</th>
		</tr>
			{% for object in object_list %}
				<tr>
			    	<td> <a href="{% url 'assignment:userprofile' object.pk %}">
			    		{{ object.user}}
			    	</a></td>
			    	<td> {{ object.fullname }}</td>
			    	<td> {{ object.age }}</td>
			    	<td> {{ object.address }} </td>
			    </tr>
			{% endfor %}
		
	</table>

{% endblock %}
