<style>
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 94%;
	  margin-left: 3%;
	}

	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}

	tr:nth-child(even) {
	  background-color: #dddddd;
	}
	a{
		color: black;
		text-decoration: none;
	}
	a:hover{
		color: blue;
	}
	h1{
		text-align: center;
	}
</style>

<h1>User List</h1>
	<table>
		<tr>
			<th>username</th>
			<th>Full Name</th>
			<th>Age</th>
			<th>Address</th>
		
		</tr>
		
		
			{% for object in object_list %}
				<tr>
			    	<td> <a href="{% url 'assignment:userprofile' object.pk %}">
			    		{{ object.user}}
			    	</a></td>
			    	<td> {{ object.fullname }}</td>
			    	<td> {{ object.age }}</td>
			    	<td> {{ object.address }} </td>
			    </tr>
			{% endfor %}
		
		
		
	</table>






