{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}

	<div class="container" >

		<div style="margin-left: 20%; margin-right: 20%; text-align: center">
			{% if messages %}
       			{% for message in messages %}

     				<div class="alert alert-{{ message.tags }}">
         				{{ message }}
					</div>

         		{% endfor %}
        	{% endif %}
		</div>

		<br>
		<h1>Accept Task</h1>
		<br><br>
		<h4>Task: <small>{{ task_info.title }}</small></h4>
		<h4>Descrption: <small>{{ task_info.description }}</small></h4>
		<h4>Deadline: <small>{{ task_info.deadline  }}</small></h4>
		<form method="POST">
			{% csrf_token %}

			<button type="submit" class="btn btn-success">Accept Task</button>
		</form>
		

		</div>
			
		
	</div>

{% endblock %}