{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}

	<div class="container" >

		<div style="margin-left: 20%; margin-right: 20%; text-align: center">
			{% if messages %}
       			{% for message in messages %}

     				<div class="alert alert-{{ message.tags }}">
         				{{ message }}
					</div>

         		{% endfor %}
        	{% endif %}
		</div>

		<br>
		<h1>Submit Task for review</h1>
		<br><br>
		<h4>Task: <small>{{ task_info.title }}</small></h4>
		<h4>Deadline: <small>{{ task_info.deadline  }}</small></h4>
		<br><br>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
				{% for field in form %}
		  				{{ field|as_crispy_field }} 
		  			
		  		{% endfor %}

			<button type="submit" class="btn btn-success">Submit Task</button>
		</form>
		<br><br>
		

		</div>
			
		
	</div>

{% endblock %}