{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}

	<div class="container" >

			<div style="margin-left: 20%; margin-right: 20%; text-align: center">
		{% if messages %}
       		{% for message in messages %}

     			<div class="alert alert-{{ message.tags }}">
         			{{ message }}
				</div>

         	{% endfor %}
        {% endif %}
	</div>

		<br>
		<h1>Submit Task</h1>
		<br><br>
		<form method="POST">
			{% csrf_token %}
			{{ error }}
			<button type="submit">Submit</button>
		</form>
		

		</div>
			
		
	</div>

{% endblock %}