{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Performance Evaluation System</title>

	<link rel="stylesheet" type="text/css" href="{% static 'core/bootstrap.min.css' %}">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

	<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assignment/style.css' %}">

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static 'core/javascript/bootstrap.min.js' %}"></script>

	{% block head %}
	{% endblock %}

</head>
<body>

	{% if user_is_authenticated %}
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <!--   <a class="navbar-brand" href="#">
                <i class="fa fa-snowflake" aria-hidden="true"></i>
                FYP
            </a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            	<ul class="navbar-nav">
            		
            	</ul>
   
                 <ul class="navbar-nav ml-auto">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{ user_fullname }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'core:profile' %}">Profile</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                      </li>

                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="nav-side-menu">
    <div class="brand">FYP</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="{% url 'core:index' %}">
                  <i class="fas fa-tachometer-alt"></i>Dashboard
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href="#"><i class="fas fa-table fa-lg"></i> Tasks </a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li><a href="{% url 'core:task-list' request.user.pk %}">Overview</a></li>
                </ul>


                {% if user_is_admin %}
	                <li data-toggle="collapse" data-target="#service" class="collapsed">
	                  <a href="#"><i class="fa fa-globe fa-lg"></i> Admin</a>
	                </li>  
	                <ul class="sub-menu collapse" id="service">
	                  <li><a href="{% url 'assignment:admin-index' %}">Dashboard</a></li>
	                  <li><a href="{% url 'assignment:department-list' %}">Department List</a></li>
	                  <li><a href="{% url 'createMode:jobinfo-create' %}">Create Job Info</a></li>
	                </ul>
                {% endif %}

                {% if user_is_manager %}
	                <li data-toggle="collapse" data-target="#new" class="collapsed">
	                  <a href="#"><i class="fa fa-car fa-lg"></i> Manager </a>
	                </li>
	                <ul class="sub-menu collapse" id="new">
	                  <li><a href="{% url 'core:manager-dashboard' %}">Dashboard</a></li>
	                  <li><a href="{% url 'createMode:create-task' %}">Create Task</a></li>
	                  <li><a href="{% url 'core:department-information' %}">Department Details</a></li>
	                </ul>
                {% endif %}


                 <li>
                  <a href="{% url 'core:profile' %}">
                  <i class="fa fa-user fa-lg"></i> Profile
                  </a>
                  </li>

                 <li>
                  <a href="{% url 'core:emp-performance' request.user.pk %}">
                  <i class="fa fa-users fa-lg"></i> Performance
                  </a>
                </li>
            </ul>
     </div>
</div>

{% else %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="fa fa-snowflake" aria-hidden="true"></i>
                Performance Evaluation System
            </a>
            </div>           
        </nav>
{% endif %}

	
	<div class="main-content">

		{% block content %}

		{% endblock %}

	</div>

   

</body>
</html>