{% extends 'core/base.html' %}
{% load static %}

{% block content %}

	<div class="">

		<div style="margin-left: 20%; margin-right: 20%; text-align: center">
			{% if messages %}
       			{% for message in messages %}

     				<div class="alert alert-{{ message.tags }}">
         				{{ message }}
					</div>

         		{% endfor %}
        	{% endif %}
		</div>	
	
		<div style="text-align: center; margin-top: 55px">
			<a style="" href="{% url 'core:profile' %}"><h1> Go to profile </h1></a>
		</div>

		<br>

		<h1>Assigned Tasks</h1>
		{% if assigned_tasks %}
			<table>
				<tr>
					<th>Task</th>
					<th>Description</th>
					<th>Deadline</th>
					<th>Total Points</th>
					<th></th>
				</tr>
					{% for task in assigned_tasks %}
						<tr>
					    	<td> 
					    		{{ task.title}}
					    	</a></td>
					    	<td> {{ task.description }}</td>
					    	<td>
								{{ task.deadline }}
					    	</td>
					    	<td> 
					    		{{ task.total_points }}
					    	</td>
					    	<td>
					    		<a href="{% url 'createMode:submit-task' task.pk %}">Submit</a>
					    	</td>
					    </tr>
					{% endfor %}
			</table>	
		{% else %}
			<h4 class='msg'> <small>You do not have any task assigned at the moment! </small></h4>
		{% endif %}

		<br><br><br>

		<h1>Submitted Tasks</h1>
		{% if submitted_tasks %}
			<table>
				<tr>
					<th>Task</th>
					<th>Description</th>
					<th>Deadline</th>
					<th>Total Points</th>
					<th>Review</th>
					<th></th>
				</tr>
					{% for task in submitted_tasks %}
						<tr>
					    	<td> 
					    		{{ task.title}}
					    	</a></td>
					    	<td> {{ task.description }}</td>
					    	<td>
								{{ task.deadline }}
					    	</td>
					    	<td> 
					    		{{ task.total_points }}
					    	</td>
					    	<td>
					    		{% if task.reviewed is True %}
					    			Complete
					    		{% else %}
					    			Pending
					    		{% endif %}
					    	</td>
					    	<td>
					    		{% if task.reviewed is True %}
					    			View Review
					    			
					    		{% endif %}
					    	</td>
					    </tr>
					{% endfor %}
			</table>

		{% else %}
			<h4 class='msg'> <small>You do not have any submitted task  at the moment! </small></h4>
		{% endif %}

		<br><br><br>

	</div>
{% endblock %}