{% extends 'core/base.html' %}
{% load static %}

{% block head %}

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
  <script src="{% static 'core/javascript/table.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'core/table_style.css' %}">

{% endblock %}

{% block content %}

	<div class="">

		<div style="margin-left: 20%; margin-right: 20%; text-align: center">
			{% if messages %}
       			{% for message in messages %}

     				<div class="alert alert-{{ message.tags }}">
         				{{ message }}
					</div>

         		{% endfor %}
        	{% endif %}
		</div>	

		<br>
		<br>
		<a class='add-dept' href="{% url 'core:department-information' %}">
			Department Information
		</a>
		<a class='add-dept mr-auto' href="{% url 'createMode:create-task' %}">
			New Task
		</a>
	<br> <br>
		
		<h3>Unassigned Tasks</h3>
			{% if created_tasks %}

		<div class="container">    
		    <div class="row">

        		<table id="unassigned_tasks" class="table table-striped table-bordered" cellspacing="0" width="100%">
		          <thead>
					<tr>
						<th>Task</th>
						<th>Description</th>
						<th>Deadline</th>
						<th>Total Points</th>
						<th></th>
						<th></th>
					</tr>
		          </thead>
		          <tbody>
		            
					{% for task in created_tasks %}
						{% if task.assigned_to == None %}
						<tr>
					    	<td> 
					    		<a href="{% url 'core:task-details' task.pk %}">{{ task.title}} </a>
					    	</a></td>
					    	<td> {{ task.description }}</td>
					    	<td>
								{{ task.deadline }}
					    	</td>
					    	<td> 
					    		{{ task.total_points }}
					    	</td>
					    	<td>
					    		<a href="{% url 'createMode:assign-task' task.pk %}">Assign Task</a>
					    	</td>
					    	<td>
					    		<a href="{% url 'createMode:update-task' task.pk %}">Update Task</a>
					    	</td>
					    </tr>
					    {% endif %}
					{% endfor %}
		          </tbody>
        		</table>
			</div>
		</div>


			{% else %}
				<h4 class="msg"> <small>You do not have any task left to assign at the moment.</small></h4>
			{% endif %}

		<br><br><br>

		<h3>Assigned Tasks</h3>
			{% if assigned_tasks %}


		<div class="container">    
		    <div class="row">

        		<table id="assigned_tasks" class="table table-striped table-bordered" cellspacing="0" width="100%">
		          <thead>
					<tr>
						<th>Task</th>
						<th>Description</th>
						<th>Deadline</th>
						<th>Total Points</th>
						<th>Assigned to</th>
						<th></th>
					</tr>
		          </thead>
		          <tbody>
		            
					{% for task in assigned_tasks %}
						<tr>
					    	<td> 
					    		<a href="{% url 'core:task-details' task.pk %}">{{ task.title}} </a>
					    	</a></td>
					    	<td> {{ task.description }}</td>
					    	<td>
								{{ task.deadline }}
					    	</td>
					    	<td> 
					    		{{ task.total_points }}
					    	</td>
					    	<td>
					    		{{ task.assigned_to }}
					    		&nbsp;
					    		<a href="{% url 'createMode:assign-task' task.pk %}"><i class="fas fa-cog"></i></a>
					    	</td>
					    	<td>
					    		<a href="{% url 'createMode:update-task' task.pk %}">Update Task</a>
					    	</td>
					    </tr>
					{% endfor %}
		          </tbody>
        		</table>
			</div>
		</div>

			{% else %}
				<h4 class="msg"> <small>No assiggned tasks at the moment.</small></h4>
			{% endif %}

		<br><br><br>

		<h3>Accepted Tasks</h3>
			{% if accepted_tasks %}

		<div class="container">    
		    <div class="row">

        		<table id="accepted_tasks" class="table table-striped table-bordered" cellspacing="0" width="100%">
		          <thead>
					<tr>
						<th>Task</th>
						<th>Description</th>
						<th>Deadline</th>
						<th>Total Points</th>
						<th>Assigned to</th>
					</tr>
		          </thead>
		          <tbody>
		            
					{% for task in accepted_tasks %}
						<tr>
					    	<td> 
					    		<a href="{% url 'core:task-details' task.pk %}">{{ task.title}} </a>
					    	</td>
					    	<td> {{ task.description }}</td>
					    	<td>
								{{ task.deadline }}
					    	</td>
					    	<td> 
					    		{{ task.total_points }}
					    	</td>
					    	<td>
					    		{{ task.assigned_to }}
					    		
					    	</td>
					    </tr>
					{% endfor %}
		            
		          </tbody>
        		</table>
			</div>
		</div>


			{% else %}
				<h4 class="msg"> <small>No accepted tasks at the moment.</small></h4>
			{% endif %}

		<br><br><br>

		<h3>Submitted Tasks</h3>
			{% if submitted_tasks %}

		<div class="container">    
		    <div class="row">

        		<table id="submitted_tasks" class="table table-striped table-bordered" cellspacing="0" width="100%">
		          <thead>
				<tr>
					<th>Task</th>
					<th>Description</th>
					<th>Deadline</th>
					<th>Total Points</th>
					<th>Awarded points</th>
					<th>Assigned to</th>
					<th>Review</th>
					<th></th>
					
				</tr>
		          </thead>
		          <tbody>
		            
					{% for submitted_task in submitted_tasks %}
						<tr>
					    	<td> 
					    		<a href="{% url 'core:task-details' submitted_task.task.pk %}">{{ submitted_task.task.title}} </a>
					    	</td>
					    	<td> {{ submitted_task.task.description }}</td>
					    	<td>
								{{ submitted_task.task.deadline }}
					    	</td>
					    	<td> 
					    		{{ submitted_task.task.total_points }}
					    	</td>
					    	<td>
					    		{{ submitted_task.awarded_points }}
					    	</td>
					    	<td>
					    		{{ submitted_task.task.assigned_to }}
					    	</td>
					    	<td>
					    		{% if submitted_task.task.reviewed %}
					    			<a href="{% url 'core:task-review-details' submitted_task.task.review_id %}">
						    			Complete
						    		</a>
					    		{% else %}
					    			Pending
					    		{% endif %}
					    	</td>
					    	<td>
					    		{% if submitted_task.task.reviewed %}
					    			<a href="{% url 'createMode:task-review' submitted_task.task.review_id %}">
					    				Update Review
					    			</a>
					    		{% else %}
					    			<a href="{% url 'createMode:task-review' submitted_task.task.review_id %}">
					    				Review Task
					    			</a>					   
					    	</td>
					    </tr>
					    {% endif %}
					{% endfor %}

		          
		            
		          </tbody>
        		</table>
			</div>
		</div>


			{% else %}
				<h4 class="msg"> <small>No assiggned tasks at the moment.</small></h4>
			{% endif %}

		<br><br><br>

		<h3>Rejected Tasks</h3>
		{% if rejected_tasks %}

		<div class="container">    
		    <div class="row">

        		<table id="rejecteed_tasks" class="table table-striped table-bordered" cellspacing="0" width="100%">
		          <thead>
					<tr>
						<th>Task</th>
						<th>Description</th>
						<th>Deadline</th>
						<th>Total Points</th>
						<th>Assigned to</th>
						<th></th>
					</tr>
		          </thead>
		          <tbody>
		            
					{% for task in rejected_tasks %}
						<tr>
					    	<td> 
					    		<a href="{% url 'core:task-details' task.pk %}">{{ task.title}} </a>
					    	</a></td>
					    	<td> {{ task.description }}</td>
					    	<td>
								{{ task.deadline }}
					    	</td>
					    	<td> 
					    		{{ task.total_points }}
					    	</td>
					    	<td>
					    		{{ task.assigned_to }}
					    	</td>
					    	<td>
					    		<a href="{% url 'createMode:rejected-feedback' task.reject_feedback_id %}">Details</a>
					    	</td>
					    </tr>
					{% endfor %}

		          
		            
		          </tbody>
        		</table>
			</div>
		</div>



		{% else %}
			<h4 class='msg'> <small>You do not have any submitted task  at the moment! </small></h4>
		{% endif %}

		<br><br><br>

	</div>


	<script type="text/javascript">
    
	  $(document).ready(function() {
	    $('#unassigned_tasks').DataTable();
	    $('#assigned_tasks').DataTable();
	    $('#accepted_tasks').DataTable();
	    $('#submitted_tasks').DataTable();
	    $('#rejecteed_tasks').DataTable();
	  } );

 </script>
{% endblock %}