@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-color: #e5e5e5!important;
    font-family: 'Montserrat', sans-serif!important;
    margin: 0;
    width: 100%;
}

.main-content{
	margin-left: 240px;
}

h1, h2, h3, h4, h5{
	color: #555;
}

p{
	font-size: 15px;
}

.info{
	margin-top: 25vh;
	margin-left: 30%;
	color: rgb(204, 214, 246);

}

.info a{
	color: rgb(100, 255, 218);
	text-decoration: none;
}

.infoupdateform{
	margin-left: 15%;
	margin-top: 50px;
	padding: 25px;
	width: 30%;

}

.add-dept{
	color: #555;
	background-color: white;
	margin-left: 3%;
	padding: 5px;
}

.btn{
	margin-top: 15px;
	padding: 7px;
	cursor: pointer;
}

h3{
	padding: 25px 0px;
}

.profile{
	padding: 75px 20px;
	padding-bottom: 15px;
}

.profile_image{
	width: 70%;
	height: 200px;
	cursor: pointer;
	margin-left: 15%;	
}

.profile_image:hover{
	border: 1px solid #00ff00;
}

.jobtitle{
	font-family: fa5-proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: lighter;
	padding-bottom: 15px;
}

table {
	background-color: white;
}

/*table{
	width: 350px;
	padding: 15px 100px;
}*/


/* Tabs*/
section {
    padding: 0px 0px;
}


#tabs{
    width: 100%;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: rgb(204, 214, 246);
    font-size: 20px;
    color: #555;
}

.msg{
	text-align: center;
}

.navbar {
	height: 50px;
}

.navbar-nav{
	float: right!important;
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  width: 240px;
  height: 100%;
  color: #555;
}
.nav-side-menu .brand {
  background-color: #ece1e1;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 24px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}

.menu-list{
    padding-top: 50px;
}


.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #4272d7;
  background-color: #ffffff;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #4272d7;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #4272d7;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #ffffff;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #f8f9fa;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #ffffff;
  color: #4272d7;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 15px;
  padding-top: 15px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #ffffff;
}

.nav-side-menu li i {
    margin-right: 15px; 
    padding: 15px 0;
}

.nav-side-menu li a {
  text-decoration: none;
  color: #555;
  font-size: 16px;
}
.sub-menu li a{
    font-size: 13px;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
  font-size: 14px;
}

.nav-side-menu li a:hover {
  color: #4272d7;
}

.nav-side-menu li:hover {
  border-left: 3px solid #4272d7;
  background-color: #ffffff;
  color: #4272d7;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}