html, body{
	background-color: #0a192f;
	color: rgb(204, 214, 246);
}

h1, h2, h3, h4, h5{
	color: white;
}

p{
	font-size: 15px;
}

.info{
	margin-top: 25vh;
	margin-left: 30%;
	color: rgb(204, 214, 246);

}

.info a{
	color: rgb(100, 255, 218);
	text-decoration: none;
}

.infoupdateform{
	margin-left: 15%;
	margin-top: 50px;
	padding: 25px;
	width: 30%;

}

.btn{
	margin-top: 15px;
	padding: 7px;
	cursor: pointer;
}

h3{
	padding: 25px 0px;
}

.profile{
	padding: 75px 20px;
	padding-bottom: 15px;
}

.profile_image{
	width: 70%;
	height: 200px;
	cursor: pointer;
	margin-left: 15%;	
}

.profile_image:hover{
	border: 1px solid #00ff00;
}

.jobtitle{
	font-family: fa5-proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: lighter;
	padding-bottom: 15px;
}

table{
	width: 350px;
	padding: 15px 100px;
}


/* Tabs*/
section {
    padding: 0px 0px;
}


#tabs{
    width: 100%;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: rgb(204, 214, 246);
    font-size: 20px;
}

.msg{
	text-align: center;
}