table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 94%;
	  margin-left: 3%;
	  margin-top: 3%
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd2e;
}
a{
	color: black;
	text-decoration: none;
}
a:hover{
	color: skyblue;
}
h1,h3{
	text-align: center;
}

td > a{
	color: white;
}

.add-dept{
	color: black;
	background-color: #303d4f;
	margin-left: 3%;
	padding: 5px;
}

.box-element{
	padding-left: 3%;
}
